<header class="showcase">
    <div class="container showcase-inner">
        <h1 class="heading">Welcome to VIVID-Scheduler!</h1>
        <p>The project scheduler for VIVID, Vanderbilt's KPOP dance group</p>
    </div>
</header>
<div class="card">
    <div class="card-body">
        <div class="project-display" *ngFor="let project of completedEvents">
            <p class="project-name">{{project.pname}}</p>
            <iframe [src]="setURL(project)" width="500" height="300" ></iframe>
        </div> 
    </div>
</div>
