.nav-to-update-button {
    background-color: #3700B3;
    font-family: 'Roboto';
    position: fixed;
    left: 30%;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.gantt-heading {
    padding: 15px;
}

h2{
    background-color: rgba(177, 123, 179, 0.69);
    text-align:center;
}