<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div class="content">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="calendar">Calendar</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="gantt-chart">Gantt Chart</a></li>
          <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="create-project">Create Project</a></li>
          <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="update-project">Update Project</a></li>
          <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="display-project">Display Project</a></li>
          <button
            *ngIf="!currentUser"
            type="button"
            routerLink="login"
            class="btn btn-outline-primary"
          >
            Login
          </button>
          <button
            *ngIf="currentUser"
            type="button"
            (click)="logOut()"
            class="btn btn-outline-primary"
          >
            Logout
          </button>
        </ul>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
