<div class="card showcase">
    <div class="container showcase-inner card-body" style="margin-left: 100px; margin-top: -20%;
    ;">
        <h4 class="heading card-title">Add New Project to Display</h4>
        <form #displayProjectForm="ngForm" (ngSubmit)="onSubmit(displayProjectForm.value)">
            <div class="form-container">
                <div class="form-group">
                    <label for="name">Project Name:</label>
                    <select class="form-control project-select" id="type" name="pname" minlength="1" required [(ngModel)]="projectName">
                        <option *ngFor="let projectName of projects" [value]="projectName">{{projectName}}</option>
                        </select>
                </div>
                    
                <div class="form-group">
                    <label for="owner">Project Video Link:</label>
                    <input type="text" class="form-control" id="owner" name="url" minlength="1" [(ngModel)]="projectURL">
                </div>

            </div>
            <button class="project-submit-button btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
